<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Inbox</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Email</a>
                        </li>
                        <li class="breadcrumb-item active">Inbox</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="boxs mail_listing">
                        <div class="inbox-center table-responsive">
                            <table class="table table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr class="unread">
                                        <td class="hidden-xs">
                                            <i class="material-icons">star_border</i>
                                        </td>
                                        <td class="hidden-xs">Nelson Lane</td>
                                        <td class="max-texts">
                                            <a href="#">
                                                <span class="label l-bg-purple shadow-style m-r-10">Work</span>
                                                Lorem ipsum perspiciatis unde omnis iste natus</a>
                                        </td>
                                        <td class="hidden-xs">
                                            <i class="material-icons">attach_file</i>
                                        </td>
                                        <td class="text-right"> 12:30 PM </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>