<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Update Une Catégorie</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">update-categorie</a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                   
                    <div class="body">
                        <form [formGroup]="updateCategorieForm" (ngSubmit)="updateCategorie(updateCategorieForm)">
                            <div class="form-group">
                                <label>Nom </label>
                                <input type="text" formControlName="nom" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class=" select2" formControlName="status" data-placeholder="Select">
                                    
                                    <option>en cours</option>
                                    <option>planifier</option>

                                </select>
                            </div>
                            
                            
                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
