/* You can add global styles to this file, and also import other style files */
.form-control.ng-touched.ng-invalid{border:2px solid red;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.red {
    background-color: red !important;
  }
